<div class="container-fluid">
    <div class="col-md-5 col-md-offset-3">  
      <h2>Edit your Amazon credentials</h2>
      <%= render partial: 'form', locals: { amazon_account: amazon_account } %>
    </div>
</div>
