<div class="modal fade" id="step2" tabindex="-1" role="dialog" aria-labelledby="step1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Step 2 to sign up for ByteStand</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <img alt="Step 2 to sign up for ByteStand" src="http://s1.postimg.org/qm3tgirzj/sign_up_next.jpg">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>