<!DOCTYPE html>
<html>
<head>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="ByteStand" src="http://s2.postimg.org/74hul1t7t/navbar_brand.png">
      </a>
    </div>
  
    <ul class="nav navbar-nav">
        <li class="passive"><a href="#">products <span class="sr-only">(current)</span></a></li>
        <li class="passive"><a href="#">profile <span class="sr-only">(current)</span></a></li>
    </ul>
  
  </div>
</nav>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
